{% extends 'shared/base.html' %} {% block content %}
<body>
  {{ room_name|json_script:"room-name" }}
  <div class="viewport-header">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb has-arrow">
        <li class="breadcrumb-item">
          <a href="#">Chat</a>
        </li>
      </ol>
    </nav>
  </div>
  {{ room_name|json_script:"room-name" }} {% if room_name == 'soccer' %}
    <h1>축구방</h1>
    {% elif room_name == 'baseball' %}
    <h1>야구방</h1>
    {% else %}
    <h1>농구방</h1>
  {% endif %}
  <br>
  <textarea class="col-md-10 col-lg-10" id="chat-log" rows="13"></textarea>
  <br />
  <div class="row">
    <input id="chat-message-input" type="text" class="form-control col-md-8 col-lg-8" />
    <div class="btn btn-info has-icon col-md-2 col-lg-2" id="chat-message-submit" type="button" style="float: left;">
      <i class="mdi mdi-comment-processing-outline"></i>Messsage
    </div>
  </div>
  {{ room_name|json_script:"room-name" }}
  <script>
    const roomName = JSON.parse(
      document.getElementById('room-name').textContent,
    );

    const chatSocket = new WebSocket(
      'ws://' + window.location.host + '/ws/room/' + roomName + '/',
    );

    chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data)
      document.querySelector('#chat-log').value += data.message + '\n'
    };

    chatSocket.onclose = function (e) {
      console.error('Chat socket closed unexpectedly');
    };
    const name = '{{user.username}}';
    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
      if (e.keyCode === 13) {
        // enter, return
        document.querySelector('#chat-message-submit').click();
      };
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
      const messageInputDom = document.querySelector('#chat-message-input')
      const message = messageInputDom.value
      chatSocket.send(
        JSON.stringify({
          message: name + ': ' + message,
        }),
      );
      messageInputDom.value = '';
    };
  </script>
</body>
{% endblock %}
