{%extends 'shared/base.html'%}

{%block content%}
   
    {% load static %}
    <div class="viewport-header">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb has-arrow">
            <li class="breadcrumb-item">
              <a href="#">Board</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {% if cate == "free"%} 자유
                {% elif cate == "review"%} 후기
                {% elif cate == "suggest"%} 건의
                {% else %} 전체
                {% endif %}
            </li>
          </ol>
        </nav>
    </div>
   
    <!--로그인 한 사람만 글작성하기 뜨도록-->
   
<div class="col-lg-12">
    {% if user.is_authenticated %}
      <h2 class="mb-3"> <a href="{% url 'newPost' cate%}" style="color: white;">글 작성하기</a></h2>
    
        {%endif%}
      <div class="grid">
        <div class="item-wrapper">
          <div class="table-responsive">
            <table class="table info-table">
              <thead>
                <tr>
                  <th style="width: 10%;">제목</th>
                  <th style="width: 10%;">작성자</th>
                  <th style="width: 70%;">내용</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for unit in posts %}
                  <tr> 
                    <td style="width: 10%;">{{unit.title}}</td>
                    <td style="width: 10%;">{{unit.writer}}</td>
                    <td style="width: 70%;"><a class="toNext" href="{% url 'detailPage' unit.id%}">{{unit.summary}}</a> </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
    {% if posts.has_previous %}
        <!--이전페이지가 있다면-->
        <a href="?page=1">1</a> <!-- url을 그냥 써주면 됨-->
        <a href="?page={{posts.previous_page_number}}">◀</a>
        {% endif %}

        <span>{{posts.number}}</span>
        <span>of</span>
        <span>{{posts.paginator.num_pages}}</span>

        {% if posts.has_next %}
        <!--다음페이지가 있다면-->
        <a href="?page={{posts.next_page_number}}">▶</a>
        <a href="?page={{posts.paginator.num_pages}}">{{posts.paginator.num_pages}}</a>
    {% endif %}
    </div>
    {%endblock%}